
.principal {
    font-size: 60px;
    color: #a3c354
}

h2 {
   font-size: 30px;
   color:#e4eb87
}

.Sonambulo {
 color:#acabab
}

.Soy_Humbe {
    color: #878787
}

.Entropia {
    color: #21d1d5
}

.Aurora {
    color: #ff7ab7
}

.Escencia {
    color: #4a9b4d
}

.Armagedon {
     color: #e3360d
}