
.principal {
    font-size: 80px;
    text-align: center;
    color: #a3c354;
    padding: 5px;
}

body {
    font-family: Gill Sans MT Condensed;
}

.Sonambulo {
 color:#acabab;
 font-size: 20px;
 text-align: center;
 background-color: #636363;
 font-family: Gill Sans MT Condensed;
}

.Soy_Humbe {
    color: #878787;
    font-size: 20px;
    text-align: center;
    background-color: #bebebe;
}

.Entropia {
    color: #21d1d5;
    font-size: 20px;
    text-align: center;
    background-color: #09798b;
}

.Aurora {
    color: #ff7ab7;
    font-size: 20px;
    text-align: center;
    background-color: pink;
}


.Escencia {
    color: #4a9b4d;
    font-size: 20px;
    text-align: center;
    background-color: #8cd761;
}

.Armagedon {
     color: #e3360d;
     font-size: 20px;
     text-align: center;
     background-color: #ff914e;
}